/* Your stylesheet */

/* color of latitude button */
.navbar-brand
{
    background-color: mediumslateblue;
    padding: 5pt;
    color: white;
}

/* text of latitude button */
.navbar-light .navbar-brand {
    color:white;
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* hover feature */

.nav-item > a:hover {
    background-color: lightgray
}

.dropdown-menu > a:hover {
    background-color: lightgray
}

/* headings */

h1 {
  font-size: 25px;
  color: mediumslateblue;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
  color: mediumslateblue;
  text-align: center;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* container */
.container{

    position: relative;
    padding:50pt;
    top: 55pt;
    background-color:white;

}

/* background color */
body{
    background-color:lightgray;
}



  