<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<!-- Header and button -->
<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>The scoop on Mars</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Mars Data!</a></p>
    </div>
  </div>
<!-- News title and snippet -->
  <div class="container-fluid">
    <div class="row">
      <div class="padding 20pt">
      <h2 class >Latest Mars News</h2>
        <p><strong>{{ information["News Title"]}}</strong></p>
      <p>{{ information["News Paragraph"] }}</p>
   </div>
  </div>
  

        <img src="{{information["Featured Image"]}}">
        <p>{{information["Mars Facts"]|safe}}</p>
        {%for x in information.Hemispheres%}
           <img src= "{{x["img_url"]}}">
        {%endfor%}

       
  
  </div>
  </div>
</body>

</html>
